@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baskervville+SC&family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Jersey+10&family=Matemasie&family=New+Amsterdam&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    background-color: #1C4772;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: fixed;
}

.header .logo {
    text-decoration: none;
    font-size: 40px;
    color: white;
    font-family: "New Amsterdam", sans-serif;
    letter-spacing: 2px;
    margin-left: 40px;
}

.header ul {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header ul li {
    list-style-type: none;
}

.header ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Jersey 10", sans-serif;
}

.home-page {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-page img {
    width: 100%;
    height: 100%;
    filter: saturate(50%);
}

.home-page .info-box {
    width: 70%;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.info-box h1 {
    font-size: 100px;
    font-family: "Jersey 10", sans-serif;
}

.info-box p {
    font-size: 30px;
    margin: 10px;
    font-family: "New Amsterdam", sans-serif;
    letter-spacing: 2px;
}

.About-page {
    width: 100%;
    height: 100vh;
    background-color: #66A5C8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    z-index: -1;
}

.About-page .about-img {
    width: 100%;
    height: 100vh;
    filter: saturate(25%);
}

.image-box {
    width: 800px;
    height: 800px;
    margin-top: 150px;
    margin-left: 100px;
    position: absolute;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 80%;
    transform: scale(1.1);
    object-fit: contain;
}

.about-box {
    width: 50%;
    height: 500px;
    margin-left: 900px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.about-box h2 {
    font-size: 100px;
    font-family: "Jersey 10", sans-serif;
    color: white;
}

.about-box p {
    font-size: 40px;
    font-family: "New Amsterdam", sans-serif;
    color: white;
    letter-spacing: 2px;
}

.Portfolio-page {
    width: 100%;
    background-color: #66A5C8;
    padding: 20px;
}

.portfolio-header {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    text-align: center;
}

.portfolio-header h2 {
    color: white;
    font-family: "Jersey 10", sans-serif;
    font-size: 50px;
}

.project-box {
    width: 70%;
    height: 300px;
    background-color: #1c477291;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.project-img-box {
    width: 30%;
    height: 100%;
    background-color: #66A5C8;
}

.project-img-box img {
    width: 100%;
    height: 100%;
}

.project-info-box {
    width: 65%;
    height: 100%;
    padding: 10px;
}

.project-info-box h3 {
    color: white;
    font-size: 50px;
    font-family: "Jersey 10", sans-serif;
    letter-spacing: 2px;
}
.project-info-box p{
    color: black;
    font-size: 30px;
    font-family: "New Amsterdam", sans-serif;
}
.project-info-box button {
    width: 100px;
    height: 30px;
    background-color: rgb(179, 195, 245);
    border-radius:60px 20px;
    border: none;
}
.project-info-box button:hover {
    background-color: white;
}
.project-info-box button a{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-decoration: none;
}
.project-info-box button a:hover{
    color:rgb(130, 161, 255) ;
}
